body,
html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 242, 0);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);  /* creates padding around scroll thumb */
}

#section-information{
  margin-bottom: 110px;
  margin-top: 100px;
  font-family: 'DM Sans', sans-serif;
}

#img {
  width: 150px;
}
#img-produtos{
  width: 280px;
}

#email{
  width: 50%;
  font-family: 'DM Sans', sans-serif;
}

#colecao{
  font-family: 'DM Sans', sans-serif; 
}

#detail_main{
  margin-bottom: 200px;
}

#margin_container{
  margin-bottom: 200px;
}